html {
  display: table;
  margin: auto;
}
html body {
  display: table-cell;
  vertical-align: middle;
  font-family: "Arial", sans-serif;
  line-height: 1.5;
}
html body table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  width: 700px;
  table-layout: fixed;
}
html body table th {
  background: blue;
}
html body table td {
  background: lightblue;
}
